* {
  font-family: Arial;
}

body {
  background-color:whitesmoke;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #24232b;
  padding: 24px;
  margin: 5rem;
}

.header {
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2a8b8b;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.copyBtn {
  height: 30px;
  font-size: 10px;
}

.charlength {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 24px;
}

.charlength span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.checkboxes {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.checkboxes div {
  display: flex;
  gap: 5px;
  padding-bottom: 25px;
}

.generateBtn {
  width: 100%;
  font-size: 20px;
  padding: 20px;
}

.main-container {
  background-color: #2a8b8b;
  width: 50rem;
  height: 25rem;
  margin: auto;
  margin-top:5rem;
  border-radius: 5rem;
}

.btn {
  height: 30px;
  font-size: 10px;
  margin-left: 5px;
}

.header-login {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.center {
 width: 80%;
}
.cont-body {
  display: flex;
  justify-content: center;
}

.input {
  width: 75%;
  margin-left: 5rem;
  padding: 5px;
}

.btn-login {
  background-color: black;
  width: 78%;
  margin-left: 5rem;
  margin-top: 3rem;
}

.main-container-signup {
   background-color: #2a8b8b;
  width: 50rem;
  height: 30rem;
  margin: auto;
  margin-top:5rem;
  border-radius: 5rem;
}

.logout {
  display: flex;
  justify-content: right;
  padding-bottom: 10px;
}

.main {
  margin-left: 5rem;
  margin-right: 5rem;
}

.table {
  display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 1rem;
}
@media screen and (max-width:768px){
 .table {
  display: grid !important;
  grid-template-columns: auto auto auto !important;
} 
}
.pswrd-holder {
  margin: 5px;
  padding: 4px;
  width: fit-content;
  border-width: 2px;
  border-style: solid;
  border-radius: .5rem;
  color: rgb(115, 0, 255);
  background-color: rgb(38, 53, 53);
}

.errmsg {
  color: red;
  padding-bottom: 5px;
}
.errmsg1 {
  color: red;
}